In [5]:
import pandas as pd

# Загрузка нового датасета
df = pd.read_csv("../data/sensor_data_kz.csv")
df.head()

,region,temperature,salinity,ph,input_pressure,water_level,target_output_pressure
0,Атырау,23.533769,6364.604407,7.884828,3.962737,89.592884,14.326392
1,Қостанай,14.234599,1635.923084,8.220378,5.830613,98.268765,2.236856
2,Қостанай,5.667991,1303.943051,7.593421,3.773172,22.884905,1.097420
3,Қызылорда,21.963826,5054.211776,7.208025,4.847827,30.492388,11.810323
4,Қостанай,12.832736,2879.530070,7.234086,3.739100,93.367484,5.624553

In [14]:
import pandas as pd

df = pd.read_csv("../data/sensor_data_kz.csv")
df.head()

,region,temperature,salinity,ph,input_pressure,water_level,target_output_pressure
0,Атырау,23.533769,6364.604407,7.884828,3.962737,89.592884,14.326392
1,Қостанай,14.234599,1635.923084,8.220378,5.830613,98.268765,2.236856
2,Қостанай,5.667991,1303.943051,7.593421,3.773172,22.884905,1.097420
3,Қызылорда,21.963826,5054.211776,7.208025,4.847827,30.492388,11.810323
4,Қостанай,12.832736,2879.530070,7.234086,3.739100,93.367484,5.624553

In [16]:
df = df.rename(columns={
    "region": "өңір",
    "temperature": "температура",
    "salinity": "тұздылық",
    "ph": "pH",
    "input_pressure": "кіру_қысымы",
    "water_level": "су_деңгейі",
    "target_output_pressure": "шығыс_қысымы_болжам"
})

In [17]:
df['өңір'] = df['өңір'].astype('category')
df['өңір_код'] = df['өңір'].cat.codes

X = df[['өңір_код', 'температура', 'тұздылық', 'pH', 'кіру_қысымы', 'су_деңгейі']]
y = df['шығыс_қысымы_болжам']

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

модель = RandomForestRegressor(n_estimators=100, random_state=42)
модель.fit(X_train, y_train)

y_boljam = модель.predict(X_test)

print("MSE:", mean_squared_error(y_test, y_boljam))
print("R²:", r2_score(y_test, y_boljam))

MSE: 0.1176419711137124
R²: 0.9969587873443722

In [19]:
import joblib
joblib.dump(модель, "../models/kz_model_kazakh.pkl")

['../models/kz_model_kazakh.pkl']